<div class="idea">
  <%= idea.title %> : <br>
  <%= idea.description %> <br>
  <%= link_to edit_idea_path(idea), remote: true do %>
    <button type="button" class="update-button">Update Idea</button>
  <% end %>
</div>
