<div class="container">

  <div class="twelve columns">

    <div class="head-banner">
      <h2 style="align: center">Super IdeaBox</h2>

      <%= link_to new_idea_path, remote: true do %>
      <button type="button" class="new-idea-button">Create New Idea</button>
    <% end %>
    </div>

    <div class="row">
      <div class="row">
        <div class="five column idea-form hidden"></div>
      </div>

      <div class="five columns idea-list">
        <%= render @ideas %>
      </div>
    </div>

  </div>
</div>
