// Place all the styles related to the ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.head-banner {
  text-align: center;
}

.hidden {
  display: none;
}

.idea-list {
  margin-top: 50px;
  border-radius: 21px;
  -moz-border-radius: 21px;
  -webkit-border-radius: 21px;
  // width: 50%;
  text-align: center;
  float: right;
}

.idea {
  background-color: #F2F2D8;
  margin: 10px;
  border: black solid 1px;
  border-radius: 25px;
}
